# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Model weights
*.pt
*.pth
*.ckpt
*.h5

# Python cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Ignore extracted models
.pkl

# venv
deep-learning/MoviesSystem/similarity.pklrecommendSys/Lib/
**/venv/
**/*.egg-info/
__pycache__/
.pyc
